body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.footer {
    position: relative;
    width: 100%;
    color: black;
    text-align: center;
    margin-top:1%;
    
  } 

  .container-fluidmargin{
      margin-left: 23%;
      margin-right: 4%;
  }

.footer-margin{
    margin-left: 12%;
    margin-right: 10%;
    padding-bottom: 100px;
    
}

.navbaritem{
    color:#707070 !important;
    
}

.footer-logo{
    float: left;
    height: 50px;
}

@media screen and (min-width: 1301px) {
    .logo{
        width: 46%;
    }
 }


 
@media screen and (max-width: 1300px) {
    .logo{
        width: 36%;
    }
 }